<head>
    <title>Node Chat App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/public/bootstrap-switch/css/bootstrap-switch.css">
    <link rel="stylesheet" href="/public/app.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/jquery-1.12.3.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap.js"></script>
    <script src="/public/bootstrap-switch/js/bootstrap-switch.js"></script>
    <script type="text/javascript" src="/public/main.js"></script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Fibonacci Poker</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    <div id="dashboard">
        <div class="row" id="rowStory" style="display:block">
            <div class="col-md-8">
                <div class="row" id="rowStoryNameCurrent" style="display:block">
                    <div class="col-md-2">
                        <label id="storyNameCurrent" ></label>
                    </div>
                </div>
                <div class="row" id="rowStoryPoints" style="display:block">
                    <div class="col-md-3"><label>Story Points</label></div>
                    <div class="col-md-2" ><input id="storyPoints" class="input-lg" type="text" placeholder="1"  maxlength="5" size="5" disabled></div>
                </div>
                <div class="row" id="rowGameName" style="display:none">
                    <div class="col-md-3"><label>Game Name</label></div>
                    <div class="col-md-9"><input class="input-lg" id="gameName" placeholder="Game Name" size="50"></div>
                </div>
                <div class="row" id="rowStoryName" style="display:none">
                    <div class="col-md-3"><label>Story Name</label></div>
                    <div class="col-md-9"><input class="input-lg" id="storyName" placeholder="Story details" size="50"></div>
                </div>
                <div class="row" id="rowShowStoryPoints" style="display:none">
                    <div class="col-md-3"><label>Show Points</label></div>
                    <div class="col-md-5 make-switch"><input id="showpointsswitch" type="checkbox" class="switch"></div>
                </div>
                <div class="row" id="rowFinalStoryPoints" style="display:none">
                    <div class="col-md-3"><label>Final Story Points</label></div>
                    <div class="col-md-2"><input id="finalStoryPoints" placeholder="2" class="input-lg" style="display:none" type="text"  maxlength="5" size="5"></div>
                    <div class="col-md-2"><button  class="btn btn-primary input-lg" id="closeStoryButton" style="display:none" onclick="closeStory()">Submit Story</button></div>
                </div>

                <div class="row"  id="rowSummaryTable" style="display:block">
                    <div class="col-md-12">
                        <table id="storySummaryTable" class="table">
                            <thead>
                            <tr>
                                <th>Game</th>
                                <th>Story</th>
                                <th>Points</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-md-1" id="userPoints" style="display:block">
                <b>Points</b>
                <div id="storyPointsResult"></div>
            </div>

            <div class="col-xs-2" id="userList" style="display:block">
                <b>Users</b>
                <div id="users"></div>
            </div>
        </div>


    </div>
</div>


</body>