body {
  font-family: Consolas, monospace;
  max-width: 3100px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

#rowLogin {
     padding: 90px 10px;
}

div {
  white-space:normal;
}

.storyLabel {
  /*display: inline;*/
  /*padding: .2em .6em .3em;*/
  /*font-size: 75%;*/
  /*font-weight: 700;*/
  /*line-height: 1;*/
  color: green;
  text-align: left;
  white-space: normal;
  /*vertical-align: baseline;*/
  /*border-radius: .25em;*/
}

#dashboard {
  padding: 100px 10px;
}

.container {
 margin-left: auto;
 margin-right: auto;
 max-width: 90%;

}

.label{
  white-space: normal;
}

.border {
  border: solid 1px silver;
  padding: 3px;
}

.tweet {
  margin-bottom: 20px;
  padding: 10px;
}

.profile-pic {
  border: solid 1px silver;
  padding: 3px;
  width: 56px;
  height: 56px;
}

.wordwrap {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.importantTag {
  font-weight: 200;
}

.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch .bootstrap-switch-label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block !important;
  /*height: 100%;*/
  padding-bottom: 4px;
  padding-top: 4px;
  font-size: 14px;
  line-height: 20px;
}
